#content {
  margin: 40px;
  padding:20px;
  width: 650px;
  font-family: monospace;
  background-color: #fbafaf;
  border-radius: 10px;
}

.wrapper {
    display: flex !important;
    background-color: hsl(183, 59%, 75%);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

}

#img-title {
    flex: 1;
    margin: 10px;
}

#txt-title {
    flex: 1;
    font-family: monospace;
    margin: 10px;
    align-self: center;
}

#greeting-container {
  margin-top: 20px;
}

.info-container {
  padding: 10px;
  flex: 1;
  font-family: monospace;
  margin: 10px;
  text-align: center;
  align-items: stretch;
  
}

.photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}